<div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-6 card text-center mx-auto mt-4">
  <div class="card-block">
    <label class="text-muted mb-3">Размеры и вес</label>
    <div class="card-block">
      <label>Название: </label>
      <input [(ngModel)]="product.name" placeholder="name"/>
      <label>Цена: </label>
      <input [(ngModel)]="product.unitPrice" placeholder="unitPrice"/>
      <label>Короткое описание: </label>
      <input [(ngModel)]="product.descriptionShort" placeholder="descriptionShort"/>
      <label>Длинное описание: </label>
      <input [(ngModel)]="product.descriptionLong" placeholder="descriptionLong"/>
      <label>Количество на складе: </label>
      <input [(ngModel)]="product.unitsInStock" placeholder="unitsInStock"/>
    </div>
  </div>
  <div class="card-block">
    <label class="text-muted mb-3">Размеры и вес</label>
    <div class="card-block">
      <label>Длина: </label>
      <input [(ngModel)]="product.length" placeholder="length"/>
      <label>Ширина: </label>
      <input [(ngModel)]="product.width" placeholder="width"/>
      <label>Толщина: </label>
      <input [(ngModel)]="product.thickness" placeholder="thickness"/>
      <label>Вес: </label>
      <input [(ngModel)]="product.weight" placeholder="weight"/>
    </div>
  </div>
  <div class="card-block">
    <label class="text-muted mb-3">Дисплей</label>
    <div class="card-block">
      <label>Тип экрана: </label>
      <input [(ngModel)]="product.display" placeholder="display"/>
      <label>Размер: </label>
      <input [(ngModel)]="product.displaySize" placeholder="displaySize"/>
      <label>Разрешение по высоте: </label>
      <input [(ngModel)]="product.resolutionHeight" placeholder="resolutionHeight"/>
      <label>Разрешение по ширине: </label>
      <input [(ngModel)]="product.resolutionWidth" placeholder="resolutionWidth"/>
    </div>
  </div>
  <div class="card-block text-right">
    <button (click)="goBack()" role="button" class="btn btn-secondary">Назад</button>
    <button (click)="save()" role="button" class="btn btn-primary disabled">Применить изменения</button>
  </div>
</div>