<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Дата рождения</th>
      <th>Адрес</th>
      <th>Город</th>
      <th>Страна</th>
      <th>Домашний телефон</th>
      <th>Электронная почта</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of buyers">
      <td>{{b.firstName}}</td>
      <td>{{b.lastName}}</td>
      <td>{{b.birthDate | date}}</td>
      <td>{{b.address}}</td>
      <td>{{b.city}}</td>
      <td>{{b.country}}</td>
      <td>{{b.homePhone}}</td>
      <td>{{b.email}}</td>
      <td class="pull-right">
        <button class="btn btn-sm btn-danger" (click)="delete(b.id)">Удалить</button>
        <button class="btn btn-sm btn-primary" [routerLink]="['./edit', b.id]">Редактировать</button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-success pull-right" [routerLink]="['./new']">Добавить нового покупателя</button>
<div>
  <router-outlet></router-outlet>
</div>
