<div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-6 card text-center mx-auto mt-4">
  <div class="card-block">
      <h2 class="card-title">{{product.name}}</h2>
  </div>
  <div class="row justify-content-around m-0">
    <div class="list-container pb-1">
      <h4 class="text-muted mb-3">Размеры и вес</h4>
      <ul class="list-group list-group-flush text-left">
        <li class="list-group-item">Длина: {{product.length}} мм</li>
        <li class="list-group-item">Ширина: {{product.width}} мм</li>
        <li class="list-group-item">Толщина: {{product.thickness}} мм</li>
        <li class="list-group-item">Вес: {{product.weight}} г</li>
      </ul>
    </div>
    <div class="img-container">
        <img class="card-img-top" style="max-width: 100%" src="/assets/{{product.imageName}}" alt={{product.name}}>
    </div>
    <div class="list-container pb-1">
      <h4 class="text-muted mb-3">Дисплей</h4>
      <ul class="list-group list-group-flush text-left">
          <li class="list-group-item">Тип экрана: {{product.display}}</li>
          <li class="list-group-item">Размер: {{product.displaySize}}"</li>
          <li class="list-group-item">Разрешение: {{product.resolutionHeight}} x {{product.resolutionWidth}}</li>
      </ul>
    </div>
  </div>
  <div class="card-block pb-0 pt-3">
      <p class="card-text">{{product.descriptionLong}}</p>
  </div>
  <div class="card-block text-right buttons-container">
    <button type="button" class="btn btn-secondary" (click)="goBack()">Назад</button>
    <button type="button" class="btn btn-primary" [routerLink]="['./edit']">Редактировать</button>
    <button type="button" class="btn btn-danger" (click)="delete()">Удалить</button>
      <button type="button" class="btn btn-success" (click)="addProductToCart()">Добавить в корзину</button>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>