<div *ngIf="orderSent" class="m-1 mt-3 text-center">
  <h2>Спасибо!</h2>
  <p>Благодарим за покупку.</p>
  <p>Товар будет отправлен в ближайщее время.</p>
  <button class="btn btn-primary" routerLink="/products">Вернуться в магазин</button>
</div>
<form *ngIf="!orderSent" #form="ngForm" novalidate (ngSubmit)="submitOrder(form)" class="m-1 mt-3">
  <div class="form-group">
    <label for="buyerSelect">Покупатель</label>
    <select #buyerSelect class="form-control" id="buyerSelect">
      <option *ngFor="let b of buyers" value="{{ b.id }}">{{ b.firstName }} {{ b.lastName }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="sellerSelect">Продавец</label>
    <select #sellerSelect class="form-control" id="sellerSelect">
      <option *ngFor="let s of sellers" value="{{ s.id }}">{{ s.companyName }}</option>
    </select>
  </div>
  <div class="text-center">
    <button class="btn btn-secondary" routerLink="/cart">Назад</button>
    <button class="btn btn-primary" type="submit">Завершить заказ</button>
  </div>
</form>